// NativeScript core theme
// @see https://docs.nativescript.org/ui/theme
@import '~nativescript-theme-core/scss/skins/light/index';
@import '~nativescript-theme-core/scss/index';

// Global SCSS styling
// @see https://docs.nativescript.org/ui/styling
.fa {
  Font-family: FontAwesome,fontawesome-webfont ;
}

.fas {
  Font-family: FontAwesome,fontawesome-webfont ;
}

.far {
  Font-family: FontAwesome,fontawesome-webfont ;
}
